.registration {
  background: url(../../images/reg-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  padding-top: 100px;
  padding: 100px 100px;
}
.forms-heading {
  text-align: center;
}
.form-box {
  background-color: #ffffffaa;
  padding: 30px 20px;
  border-radius: 20px;
}
.forms-heading h1 {
  font-family: "Nunito", sans-serif;
  font-size: 28px;
  color: #11175d;
  font-weight: 700;
}
.forms-heading p {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  color: #11175dbc;
  font-weight: 400;
}
.registration-img {
  margin-top: 50px;
}
.registration-img img {
  width: 110%;
  height: 110%;
}

.button {
  margin-top: 35px !important;
  border-radius: 20px !important;
  background-color: #fb005d !important;
}
.password {
  position: relative;
}
.eye {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  cursor: pointer;
}
.errors {
  color: rgba(255, 0, 0, 0.674);
}
.signin {
  text-align: center;
  margin-top: 20px;
}
.navigate {
  color: rgba(255, 0, 0, 0.674);
  cursor: pointer;
}
